{% extends "base.html" %}

{% block title %}
    Receipts!
{% endblock title %}
{% block content %}
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th class="centered_data">Total</th>
                    <th class="centered_data">Tax</th>
                    <th class="centered_data">Date</th>
                    <th class="centered_data">Category</th>
                    <th class="centered_data">Account</th>
                </tr>
            </thead>
            <tbody>
                {% for receipt in receipts %}
                    <tr>
                        <td>{{ receipt.vendor }}</td>
                        <td class="centered_data">{{ receipt.total }}</td>
                        <td class="centered_data">{{ receipt.tax }}</td>
                        <td class="centered_data">{{ receipt.date|date:"m/d/y" }}</td>
                        <td class="centered_data">{{ receipt.category_name }}</td>
                        <td class="centered_data">{{ receipt.account_name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
